<!-- <div>
  <h1>Life Qoutes</h1>
  <hr />
  <ul>
    <div *ngFor="let qoute of qoutes; let i = index">
            <li>{{ qoute.name }}  {{qoute.completeDate|date|uppercase}} </li>
            <button (click)='toggleDetails(i)'>Toggle Details</button>
            <app-qoute-detail *ngIf='qoute.showDescription' [qoute]='qoute' (isComplete) = 'deleteQoutes($event,i)'></app-qoute-detail>
    </div>
  </ul>
</div>
<p *ngIf='qoutes.length > 3'>You have too many qoutes</p>




 -->

 <div class="container">
    <h1>LIFE QUOTES</h1>
    <hr>
  
    <div class="row">
      <div class="col-md-6">
        <div *ngFor='let qoute of qoutes;let i = index'>
          <div>
            
            <li>{{ qoute.name }} {{qoute.description}} {{qoute.completeDate|date|uppercase}} </li>
            <button (click)='toggleDetails(i)' class="btn btn-success">Toggle Details</button>
            <like-box></like-box>
          </div>
  
          <div *ngIf='qoute.showDescription'>
            <app-qoute-detail  [qoute]='qoute' (isComplete) = 'deleteQoutes($event,i)'></app-qoute-detail>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class ="card">
          <div class ="card-body">
              <app-qoute-form (addQoutes)="addNewQoutes($event)"></app-qoute-form>
          </div>
        </div>
          
        </div>
    </div>
  
    <p *ngIf='qoutes.length > 3'>You have too many qoutes</p>
  </div>


  